services:
  wizdle-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    environment:
      ASPIRE_DASHBOARD_FORWARDEDHEADERS_ENABLED: "true"
      DASHBOARD__OTLP__AUTHMODE: "ApiKey"
      DASHBOARD__OTLP__PRIMARYAPIKEY: "${DASHBOARD_OTLP_API_KEY}"
      DASHBOARD__FRONTEND__AUTHMODE: "${DASHBOARD_FRONTEND_AUTHMODE}"
      DASHBOARD__FRONTEND__BROWSERTOKEN: "${DASHBOARD_FRONTEND_BROWSERTOKEN}"
    ports:
      - "${ASPIRE_API_PORT}:${ASPIRE_API_PORT}"
    expose:
      - "${ASPIRE_OTLP_PORT}"
    networks:
      - "aspire"
    restart: "always"
  wizdle-api:
    image: "${WIZDLE_API_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${WIZDLE_API_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://wizdle-dashboard:${ASPIRE_OTLP_PORT}"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "wizdle-api"
      OTEL_EXPORTER_OTLP_HEADERS: "x-otlp-api-key=${DASHBOARD_OTLP_API_KEY}"
      ASPNETCORE_ENVIRONMENT: "${ENVIRONMENT}"
    volumes:
      - api-dataprotection:/root/.aspnet/DataProtection-Keys
    ports:
      - "${WIZDLE_API_PORT}:${WIZDLE_API_PORT}"
    networks:
      - "aspire"
  wizdle-web:
    image: "${WIZDLE_WEB_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${WIZDLE_WEB_PORT}"
      WIZDLE-API_HTTP: "http://wizdle-api:${WIZDLE_API_PORT}"
      services__wizdle-api__http__0: "http://wizdle-api:${WIZDLE_API_PORT}"
      WIZDLE-API_HTTPS: "https://wizdle-api:${WIZDLE_API_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://wizdle-dashboard:${ASPIRE_OTLP_PORT}"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "wizdle-web"
      OTEL_EXPORTER_OTLP_HEADERS: "x-otlp-api-key=${DASHBOARD_OTLP_API_KEY}"
      ASPNETCORE_ENVIRONMENT: "${ENVIRONMENT}"
    volumes:
      - web-dataprotection:/root/.aspnet/DataProtection-Keys
    ports:
      - "${WIZDLE_WEB_PORT}:${WIZDLE_WEB_PORT}"
    depends_on:
      wizdle-api:
        condition: "service_started"
    networks:
      - "aspire"
  wizdle-discord:
    image: "${WIZDLE_DISCORD_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      WIZDLE-API_HTTP: "http://wizdle-api:${WIZDLE_API_PORT}"
      services__wizdle-api__http__0: "http://wizdle-api:${WIZDLE_API_PORT}"
      WIZDLE-API_HTTPS: "https://wizdle-api:${WIZDLE_API_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://wizdle-dashboard:${ASPIRE_OTLP_PORT}"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "wizdle-discord"
      OTEL_EXPORTER_OTLP_HEADERS: "x-otlp-api-key=${DASHBOARD_OTLP_API_KEY}"
      ASPNETCORE_ENVIRONMENT: "${ENVIRONMENT}"
      Discord__Token: "${DISCORD_TOKEN}"
      Discord__PublicKey: "${DISCORD_PUBLIC_KEY}"
    volumes:
      - discord-dataprotection:/root/.aspnet/DataProtection-Keys
    depends_on:
      wizdle-api:
        condition: "service_started"
    networks:
      - "aspire"
networks:
  aspire:
    driver: "bridge"
volumes:
  api-dataprotection:
  web-dataprotection:
  discord-dataprotection:
